body {
    color: rgb(0, 240, 240);
    background: rgb(191, 80, 255);
    margin: 0px;
    font-family: "Cinzel", sans-serif; 
}

header {
    border-bottom: solid 2px rgb(214, 0, 118);
    padding: 20px;
    font-size: 32px;
    color: black;
}

section {
    background: rgb(164, 76, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;

}

p{
    font-size: 20px;
}